@charset "UTF-8";
body {
    color: rgb(23, 202, 53);
    background-color: blueviolet;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 {
    color: red;
}
h2 {
    color: blue;
}